[submodule "lib/lucy"]
	path = lib/lucy
	url = https://git-wip-us.apache.org/repos/asf/attic-lucy.git
	branch = 0.6
[submodule "lib/clownfish"]
	path = lib/clownfish
	url = https://git-wip-us.apache.org/repos/asf/attic-lucy-clownfish.git
	branch = 0.6
