[submodule "lib/lucy"]
	path = lib/lucy
	url = https://took28.ics.muni.cz/chemdb/apache-lucy.git
	branch = 0.6
[submodule "lib/clownfish"]
	path = lib/clownfish
	url = https://took28.ics.muni.cz/chemdb/apache-clownfish.git
	branch = 0.6
